@model InfluencerConnect.Models.UserViewModel
<!-- Breadcrumbs -->
<section class="inflanar-breadcrumb">
    <div class="container">
        <div class="row">
            <!-- Breadcrumb-Content -->
            <div class="col-12">
                <div class="inflanar-breadcrumb__inner">
                    <div class="inflanar-breadcrumb__content">
                        <h2 class="inflanar-breadcrumb__title m-0">Manage Your Profile</h2>
                        <ul class="inflanar-breadcrumb__menu list-none">
                            <li><a href="~/home">Home</a></li>
                            <li class="active"><a href="~/manage/ManageYourProfile">Manage Your Profile</a></li>
                        </ul>
                    </div>
                    <div class="inflanar-breadcrumb__img">
                        <div class="inflanar-breadcrumb__thumb">
                            <img src="/Content/Images/in-bread-thumb.png">
                        </div>
                        <div class="inflanar-breadcrumb__group">
                            <img src="/Content/Images/in-social-group.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumbs -->
<!-- Features -->
<section class="inflaner-inner-page pd-top-90 pd-btm-120">
    <div class="container">
        <div class="inflanar-personals">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 inflanar-personals__list mg-top-30">
                    <div class="inflanar-psidebar inflanar-default-bg">
                        <!-- Auhtor Info -->
                        <div class="inflanar-psidebar__author">
                            <div class="inflanar-psidebar__athumb">
                                <img src="@Model.ImagePath" id="profilePic">
                                <div class="inflanar-psidebar__aedit">
                                    <label for="profile-pic-input"><span class="inflanar-psidebar__aupload"><i class="fas fa-pencil"></i></span></label>
                                    <input class="d-none" id="profile-pic-input" type="file" accept="image/*">
                                </div>
                            </div>
                            @if (ViewBag.IsInfluencer)
                            {
                                <h4 class="inflanar-psidebar__atitle"> @Model.FirstName @Model.LastName <span>Influencer</span></h4>
                            }
                            else
                            {
                                <h4 class="inflanar-psidebar__atitle">@Model.FirstName @Model.LastName <span>Marketing Agent</span></h4>
                            }
                        </div>
                        <!-- Tab Navigation -->
                        <ul class="nav nav-pills flex-column inflanar-psidebar__list">
                            <li class="nav-item inflanar-psidebar__list">
                                <a class="nav-link list-group-item active" id="dashboard-tab" data-bs-toggle="pill" href="#manage-profile">
                                    <span class="inflanar-psidebar__icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0001 0H4.00012C1.79098 0 0.00012207 1.79086 0.00012207 4V16C0.00012207 17.8642 1.27544 19.4306 3.00123 19.8743C3.32052 19.9563 3.65522 20 4.00012 20H16.0001C16.345 20 16.6797 19.9563 16.999 19.8743C18.7248 19.4306 20.0001 17.8642 20.0001 16V4C20.0001 1.79086 18.2093 0 16.0001 0ZM13.0001 7C13.0001 5.34315 11.657 4 10.0001 4C8.34327 4 7.00012 5.34315 7.00012 7C7.00012 8.65685 8.34327 10 10.0001 10C11.657 10 13.0001 8.65685 13.0001 7ZM5.15269 15.0155C5.70097 13.2824 7.66335 12 10.0001 12C12.3369 12 14.2993 13.2824 14.8475 15.0155C15.0141 15.5421 14.5524 16 14.0001 16H6.00012C5.44784 16 4.98611 15.5421 5.15269 15.0155Z"></path>
                                        </svg>
                                    </span>
                                    <span class="inflanar-psidebar__title">Manage Profile</span>
                                </a>
                            </li>
                            <li class="nav-item inflanar-psidebar__list">
                                <a class="nav-link list-group-item" id="order-tab" data-bs-toggle="pill" href="#change-password">
                                    <span class="inflanar-psidebar__icon">
                                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00012 0.25C5.37677 0.25 3.25012 2.49007 3.25012 5.25333V5.32204C1.39948 5.6731 0.00012207 7.29905 0.00012207 9.25184V15.9985C0.00012207 18.2077 1.79098 19.9985 4.00012 19.9985H12.0001C14.2093 19.9985 16.0001 18.2077 16.0001 15.9985V9.25185C16.0001 7.29905 14.6008 5.6731 12.7501 5.32204V5.25333C12.7501 2.49007 10.6235 0.25 8.00012 0.25ZM11.2501 5.25185C11.2494 3.36187 9.79458 1.83 8.00012 1.83C6.20567 1.83 4.75089 3.36187 4.75012 5.25185H11.2501ZM10.0001 12.626C10.0001 13.7895 9.10469 14.7327 8.00012 14.7327C6.89555 14.7327 6.00012 13.7895 6.00012 12.626C6.00012 11.4626 6.89555 10.5194 8.00012 10.5194C9.10469 10.5194 10.0001 11.4626 10.0001 12.626Z"></path>
                                        </svg>
                                    </span>
                                    <span class="inflanar-psidebar__title">Change Password</span>
                                </a>
                            </li>
                            <li class="nav-item inflanar-psidebar__list">
                                <a class="nav-link list-group-item" id="support-ticket-tab" data-bs-toggle="pill" href="#support-ticket">
                                    <span class="inflanar-psidebar__icon">
                                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.7652 1.70229L10.0001 2.52422L9.23507 1.70229C7.12245 -0.567428 3.69721 -0.56743 1.58459 1.70229C-0.528033 3.972 -0.528034 7.65194 1.58459 9.92165L8.47002 17.3191C9.31507 18.227 10.6852 18.227 11.5302 17.3191L18.4157 9.92165C20.5283 7.65194 20.5283 3.972 18.4157 1.70229C16.303 -0.567429 12.8778 -0.567429 10.7652 1.70229Z" />
                                        </svg>
                                    </span>
                                    <span class="inflanar-psidebar__title">Support Ticket</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 inflanar-personals__content mg-top-30">
                    <div class="tab-content inflanar-supports">

                        <div class="tab-pane fade show active" id="manage-profile">
                            
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group inflanar-form-input mg-top-20">
                                            <label>First Name*</label>
                                            <input class="ecom-wc__form-input" id="first-name" value="@Model.FirstName" type="text" name="FirstName" placeholder="First Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group inflanar-form-input mg-top-20">
                                            <label>Last Name*</label>
                                            <input class="ecom-wc__form-input" id="last-name" value="@Model.LastName" type="text" name="LastName" placeholder="Last Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ol-12">
                                        <div class="form-group inflanar-form-input mg-top-20">
                                            <label>Email*</label>
                                            <input class="ecom-wc__form-input" value="@Model.Email" type="text" name="Email" placeholder="Email Address" required="required" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ol-12">
                                        <div class="form-group inflanar-form-input mg-top-20">
                                            <label>PhoneNumber</label>
                                            <input class="ecom-wc__form-input" id="phone-number" value="@Model.PhoneNumber" type="text" name="PhoneNumber" placeholder="Phone Number" required="required">
                                        </div>
                                    </div>

                                    @if (ViewBag.IsInfluencer)
                                    {
                                        <div class=" col-12">
                                            <div class="form-group inflanar-form-input mg-top-20">
                                                <label>About Me</label>
                                                <textarea class="ecom-wc__form-input" name="AboutMe" id="about-me" placeholder="Describe yourself as an influencer — your niche, style, and what brands or audiences you connect with. ">@Model.AboutMe</textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group inflanar-form-input mg-top-20">
                                                        <label>Min Charge</label>
                                                        <input class="inflanar-signin__form-input" id="min-charge" value="@Model.MinCharge" placeholder="Minimum charge" type="text" name="MinCharge" required="required">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group inflanar-form-input mg-top-20">
                                                        <label>Max Charge</label>
                                                        <input class="inflanar-signin__form-input" id="max-charge" value="@Model.MaxCharge" placeholder="Maximum Charge" type="text" name="MaxCharge" required="required">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group inflanar-form-input mg-top-20">
                                                        <label>Category*</label>
                                                        <select id="category-id" class="property-sidebar__group inflanar-border">
                                                            @foreach (var category in ViewBag.Category as SelectList)
                                                            {
                                                                <option value="@category.Value" @(category.Selected ? "selected" : "")>@category.Text</option>
                                                            }
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group inflanar-form-input mg-top-20">
                                                        <label>Limit</label>
                                                        <input class="ecom-wc__form-input" id="limit" value="@Model.Limit" type="text" name="Limit" placeholder="Limit" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group inflanar-form-input mg-top-20">
                                                <label>Content Type</label>
                                                <select id="content-type-id" name="SelectedContentTypeIds" class="property-sidebar__group inflanar-border" multiple>
                                                    @foreach (var type in Model.AllContentTypes)
                                                    {
                                                        <option value="@type.Value" @(Model.SelectedContentTypeIds.Contains(int.Parse(type.Value)) ? "selected" : "")>
                                                            @type.Text
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group inflanar-form-input mg-top-20">
                                                <label>Instagram Link</label>
                                                <input class="ecom-wc__form-input" id="instagram-link" type="text" name="InstagramLink" value="@Model.InstagramLink" placeholder="Instagram Profile Link" required="required">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group inflanar-form-input mg-top-20">
                                                <label>YouTube Link</label>
                                                <input class="ecom-wc__form-input" id="youtube-link" value="@Model.YoutTubeLink" type="text" name="YoutubeLink" placeholder="YouTube Link" required="required">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group inflanar-form-input mg-top-20">
                                                <label>TikTok Link</label>
                                                <input class="ecom-wc__form-input" id="tiktok-link" value="@Model.TikTokLink" type="text" name="TikTOkLink" placeholder="TikTok Link" required="required">
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-12">
                                            <div class="form-group inflanar-form-input mg-top-20">
                                                <label>Company Name</label>
                                                <input class="ecom-wc__form-input" id="company-name" type="text" value="@Model.CompanyName" name="CompanyName" placeholder="Company Name" required="required">
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- Submit Button -->
                                <div class="form-group mg-top-40">
                                    <button id="update-profile" class="inflanar-btn"><span>Update Profile</span></button>
                                </div>
                            
                        </div>
                        <div class="tab-pane fade" id="change-password">
                            <form action="#">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-12">
                                        <div class="inflanar-supports__password--form">
                                            <form class="#" action="#">
                                                <div class="form-group inflanar-form-input">
                                                    <label>Current Password*</label>
                                                    <input class="inflanar-signin__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password-field" type="password" name="password" maxlength="8" required="required">
                                                </div>
                                                <div class="form-group inflanar-form-input mg-top-20">
                                                    <label>Confirm Password*</label>
                                                    <input class="inflanar-signin__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password-field" type="password" name="password" maxlength="8" required="required">
                                                </div>
                                                <div class="form-group inflanar-form-input mg-top-20">
                                                    <label>New Password*</label>
                                                    <input class="inflanar-signin__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password-field" type="password" name="password" maxlength="8" required="required">
                                                </div>
                                                <div class="inflanar__item-button--group mg-top-50">
                                                    <button class="inflanar-btn" type="submit">Update Password</button>
                                                    <button class="inflanar-btn inflanar-btn__cancel"><span>Cancel</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12 d-none d-lg-block">
                                        <div class="inflanar-signin__welcome inflanar-signin__welcome--password inflanar-bg-cover inflanar-section-shape18">
                                            <img src="/Content/Images/in-account-cover.png" alt="#">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="support-ticket">
                            <p>This is the support ticket section!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Add Bootstrap 5 JavaScript at the end of the body -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">
</script>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#profile-pic-input').on('change', function (e) {
                var file = e.target.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#profilePic').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(file);
                }
            });

            $('#update-profile').on('click', function () {
                alert('hi')
                

                var formData = new FormData();

                formData.append("IsInfluencer", @ViewBag.IsInfluencer.ToString().ToLower());
                formData.append("FirstName", $('#first-name').val());
                formData.append("LastName", $('#last-name').val());
                formData.append("PhoneNumber", $('#phone-number').val());
                formData.append("AboutMe", $('#about-me').val());
                formData.append("MaxCharge", $('#max-charge').val());
                formData.append("MinCharge", $('#min-charge').val());
                formData.append("Limit", $('#limit').val());
                formData.append("CategoryId", $('#category-id').val());

            // ContentType is a multiple select
                $('#content-type-id').val().forEach(function (id) {
                    formData.append("SelectedContentTypeIds", id); // matches model binder if it's a list
                });

                formData.append("InstagramLink", $('#instagram-link').val());
                formData.append("TiktokLink", $('#tiktok-link').val());
                formData.append("YouTubeLink", $('#youtube-link').val());
                formData.append("CompanyName", $('#company-name').val());

                // Add image file
                var file = $('#profile-pic-input')[0].files[0];
                if (file) {
                    formData.append("ProfileImage", file); // name must match your C# parameter
                }

                $.ajax({
                    url: '/Manage/UpdateProfile', // your controller endpoint
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert('bye');
                        location.reload();
                },
                    error: function (err) {
                        alert("Error updating profile.");
                        console.error(err);
                }
                });
            });



        });
    </script>













}