@*
    @using InfluencerConnect.Models
    @model LoginViewModel
    @{
        ViewBag.Title = "Log in";
    }

    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-outline-dark" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </main>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

*@

@using InfluencerConnect.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<div class="login-page">
            <section class="login-signup-contain">
                <div class="login-column">
                    <h2 class="login-title">LOGIN TO YOUR ACCOUNT</h2>
                    <div class="login-input-wrapper">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="oval-input" placeholder="Enter your email" required>
                    </div>
                    <div class="login-input-wrapper">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="oval-input" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="sign-in-btn">Sign In</button>
                    <button type="button" class="forgot-password-btn">Forget Password?</button>
                </div>

                <div class="signup-column">
                    <h2 class="signup-title">NEW HERE?</h2>
                    <p class="signup-description">Sign up and discover great opportunities!</p>
                    <a class="signup-btn" href="/Account/Register">Sign Up</a>
                </div>
            </section>
        </div>*@
    <!-- Sign In -->
    <section class="inflanar-signin pd-top-120 pd-btm-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inflanar-signin__body">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="inflanar-signin__logins">
                                    <!-- Login header -->
                                    <div class="inflanar-signin__header mg-btm-10">
                                        <div class="inflanar-signin__heading">
                                            <h4 class="inflanar-signin__title">Login</h4>
                                            <p class="inflanar-signin__tag">Welcome to Infuencer Connect</p>
                                        </div>

                                    </div>
                                    <!-- End Login header -->

                                    <div class="tab-content mg-top-30" id="nav-tabContent">
                                        <!-- Single Tab -->
                                        <div class="tab-pane fade active show" id="in-tab9" role="tabpanel">
                                            <div class="inflanar-signin__inner">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Email*</label>
                                                                <input class="ecom-wc__form-input" type="email" id="email" name="email" placeholder="infoyour@gmail.com" required="required">
                                                            </div>
                                                            <div class="form-group inflanar-form-input mg-top-20">
                                                                <label>Password*</label>
                                                                <input class="inflanar-signin__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password" name="password" type="password" maxlength="20" required="required">
                                                            </div>
                                                            <div class="form-group mg-top-20">
                                                                <div class="inflanar-signin__check-inline">
                                                                    <div class="inflanar-signin__checkbox">
                                                                        <div class="inflanar-signin__checkbox--group">
                                                                            <input class="inflanar-signin__form-check" id="checkbox" name="RememberMe" type="checkbox">
                                                                            <label for="checkbox">Remember Me</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="inflanar-signin__forgot">
                                                                        <a href="forgot-password.html" class="forgot-pass">Forgot Password?</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Login Button Group -->
                                                            <div class="form-group mg-top-40">
                                                                <button type="submit" class="inflanar-btn"><span>Log In</span></button>
                                                            </div>
                                                            <div class="inflanar-signin__bottom">
                                                                <!--<div class="inflanar-signin__form-login--label"><span>OR</span></div>-->
                                                                <!-- Login Button Group -->
                                                                <!--<div class="inflanar-signin__button--group">
                                                                    <button class="inflanar-btn inflanar-btn__other" type="submit"><div class="inflanar-signin__btn-icon"><img src="~/Content/Images/in-google-logo.png"></div>Sign In with Google</button>
                                                                    <button class="inflanar-btn inflanar-btn__other" type="submit"><div class="inflanar-signin__btn-icon"><img src="~/Content/Images/in-facebook-logo.png"></div>Sign In with Facebook</button>
                                                                </div>-->
                                                                <p class="inflanar-signin__text mg-top-20">Dont’t have an aceount ?  <a href="/Account/Register">Create Account</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- End Single Tab -->
                                        <!-- End Single Tab -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 d-none d-lg-block">
                                <div class="inflanar-signin__welcome inflanar-bg-cover inflanar-section-shape18">
                                    <img src="~/Content/Images/in-account-cover.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sign In -->
    <!-- Footer CTA -->
    <section class="footer-cta inflanar-bg-cover section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-cta__inner inflanar-bg-cover  inflanar-section-shape3">
                        <div class="footer-cta__content">
                            <h3 class="footer-cta__title">Let influencers do the heavy lifting for your marketing campaign</h3>
                            <a href="contact.html" class="inflanar-btn inflanar-btn__big"><span>Signup Now!</span></a>
                        </div>
                        <div class="footer-cta__img">
                            <img src="~/Content/Images/in-footer-cta.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer CTA -->


}
