@model List<InfluencerConnect.Models.CampaignViewHelper>

<div class="row">
    @if (!Model.Any())
    {
        <div class="text-center text-muted p-4">
            <h5>No campaigns found matching your filters.</h5>
        </div>
    }
    else
    {
        foreach (var campaign in Model)
        {

            <div class="col-lg-4 col-md-6 col-12 mg-top-30">
                <!--  Single property-->
                <div class="inflanar-service">
                    <!-- Property Head-->
                    <div class="inflanar-service__head">
                        @{
                            if (campaign.Images.Count > 0)
                            {
                                var firstImage = campaign.Images.FirstOrDefault();
                                <img src="@firstImage.FilePath" alt="Campaign Image" />
                            }
                            else
                            {
                                <img src="/Content/Images/IClogo.png" alt="Campaign Image" />
                            }
                        }
                        <div class="inflanar-service__wishlist active">

                        </div>
                    </div>
                    <!-- Property Body-->
                    <div class="inflanar-service__body">
                        <div class="inflanar-service__top">
                            <a href="influencers.html" class="inflanar-service__cat"><img src="~/Content/Images/in-cat-label.svg">@campaign.Category</a>

                        </div>
                        <h3 class="inflanar-service__title"><a href="service-single.html">@campaign.Content</a></h3>
                        <div class="inflanar-service__author">
                            <div class="inflanar-service__author--info">
                                <a href="influencer-profile.html"><img src="@campaign.AgentProfilePic">@campaign.AgentName</a>
                            </div>
                            <div class="inflanar-service__author--rating">
                                <div class="inflanar-service__author--star">
                                    <span><a style="color: #FE2C55;" class="start-chat-btn" data-userId="@campaign.CreatedBy"><i class="fas fa-message"></i></a></span>

                                </div>


                            </div>
                        </div>
                        <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="~/Campaign/Details/@campaign.CampaignId">Details</a>
                    </div>
                </div>
                <!-- End  <!--  Single property-->
            </div>

        }
    }
</div>
<div class="row mg-top-50">
    @if (ViewBag.TotalPages > 1)
    {
        int currentPage = ViewBag.CurrentPage;

        <div class="inflanar-pagination">
            <ul class="inflanar-pagination__list list-none">

                <li class="inflanar-pagination__button">
                    <a href="#" class="page-link" data-page="@(currentPage - 1)" @(currentPage == 1 ? "disabled" : "")><i class="fas fa-angle-left"></i></a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="@(i == currentPage ? "active" : "")">
                        <a href="#" class="page-link" data-page="@i">@i.ToString("D2")</a>
                    </li>
                }

                <li class="inflanar-pagination__button">
                    <a href="#" class="page-link" data-page="@(currentPage + 1)" @(currentPage == ViewBag.TotalPages ? "disabled" : "")><i class="fas fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
    }
</div>

