@model InfluencerConnect.Models.CampaignViewHelper

@{
    ViewBag.Title = "Details";
}

<!-- Features -->
<section class="pd-top-90 pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12 mg-top-30">
                <div class="inflanar-sdetail">
                    <!-- Service Thumb -->
                    <div id="campaignImageCarousel" class="carousel slide inflanar-sdetail__thumb" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Images.Count; i++)
                            {
                                var image = Model.Images[i];
                                var isActive = i == 0 ? "active" : "";
                                <div class="carousel-item @isActive">
                                    <img src="@image.FilePath" class="d-block w-100" alt="@image.FileName">
                                </div>
                            }
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#campaignImageCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#campaignImageCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    <!-- Service Content -->
                    <div class="inflanar-sdetail__content">
                        <h2 class="inflanar-sdetail__title">@Model.Content</h2>
                        <!--Tab Nav -->
                        <div class="list-group inflanar-sdetail__tabnav" id="list-tab" role="tablist">
                            <a class="list-group-item active" data-bs-toggle="list" href="#in-tab3" role="tab">
                                <span>

                                    Description
                                </span>
                            </a>
                            <a class="list-group-item" data-bs-toggle="list" href="#in-tab4" role="tab">
                                <span>

                                    Time Schedule
                                </span>
                            </a>
                            <a class="list-group-item" data-bs-toggle="list" href="#in-tab5" role="tab">
                                <span>

                                    Requirenment
                                </span>
                            </a>
                        </div>
                        <!-- Tab Content -->
                        <div class="tab-content mg-top-30" id="nav-tabContent">
                            <!-- Single Tab -->
                            <div class="tab-pane fade active show" id="in-tab3" role="tabpanel">
                                <div class="inflanar-sdetail__tcontent">
                                    <p>@Model.LongDiscription</p>
                                    <h4 class="inflanar-sdetail__tcontent--title mg-top-40">Budget</h4>
                                    <div class="row mg-btm-20">
                                        <p>$@Model.Budget</p>
                                    </div>
                                    <h4 class="inflanar-sdetail__tcontent--title mg-top-40">Category</h4>
                                    <div class="row mg-btm-20">
                                        <p>@Model.Category</p>
                                    </div>
                                    <h4 class="inflanar-sdetail__tcontent--title mg-top-40">Target Audience</h4>
                                    <div class="row mg-btm-20">
                                        <p>@Model.TargetAudience</p>
                                    </div>

                                </div>
                            </div>
                            <!-- Single Tab -->
                            <div class="tab-pane fade" id="in-tab4" role="tabpanel">
                                <div class="inflanar-sdetail__tcontent">
                                    <h4 class="inflanar-sdetail__tcontent--title mg-top-40">Campaign Timeline</h4>
                                    <div class="row mg-btm-20">
                                        <div class="col-lg-6 col-12">
                                            <ul class="inflanar-service__list list-none">
                                                <li><span class="inflanar-service__list--day">Start Date:</span><span>@Model.StartDate.ToString("dd-MMM-yyyy")</span></li>
                                                <li><span class="inflanar-service__list--day">End Date</span><span>@Model.EndDate.ToString("dd-MMM-yyyy")</span></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab -->
                            <div class="tab-pane fade" id="in-tab5" role="tabpanel">
                                <div class="inflanar-sdetail__tcontent">
                                    <h4 class="inflanar-sdetail__tcontent--title mg-top-40">Content Type</h4>
                                    <div class="row mg-btm-20">
                                        <p>@Model.ContentType</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-12 mg-top-30">

                <div class="service-single__sidebar mg-top-30">
                    <!-- Single Influencer-->
                    <div class="inflanar-influencer">
                        <!-- Influencer Head-->
                        <div class="inflanar-influencer__head">
                            <img src="@Model.AgentProfilePic" alt="#">
                            <h4 class="inflanar-influencer__title">
                                <a href="agent-detail.html">@Model.AgentName<span>Marteting Agent</span></a>
                            </h4>
                        </div>
                        <!-- Influencer Body -->
                        <div class="inflanar-influencer__body">

                            <a class="inflanar-btn-full inflanar-btn-full--v3  mg-top-20" id="start-chat-btn" data-userId="@Model.CreatedBy">Chat</a>
                        </div>
                        <!-- End Influencer Body -->
                    </div>
                    <!-- End Single Influencer-->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Features -->

@Html.Action("_RelatedCampaigns", new { campaignId = Model.CampaignId });

@*@{Html.RenderAction("_RelatedCampaigns", new { campaignId = Model.CampaignId });}*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(document).on('click', '#start-chat-btn', function (e) {
                e.preventDefault(); // Stop <a> from navigating

                var otherUserId = $(this).data('userid');

                $.ajax({
                    url: '/Chats/StartChat',  // your backend API to start/get chat
                    type: 'POST',             // or 'POST' if you prefer
                    data: { targetUserId: otherUserId },
                    success: function (response) {
                        // Assuming backend returns success status or similar
                        if (response.success) {
                            // Redirect to chat index page to load all chats
                            window.location.href = '/Chats/Index';
                        } else {
                            alert("Failed to start chat.");
                        }
                    },
                    error: function () {
                        alert("Error while starting chat.");
                    }
                });

            });
        });  


    </script>


}



