
@{
    @model List<InfluencerConnect.Models.CampaignViewHelper>

    ViewBag.Title = "MyCampaigns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumbs -->
<section class="inflanar-breadcrumb">
    <div class="container">
        <div class="row">
            <!-- Breadcrumb-Content -->
            <div class="col-12">
                <div class="inflanar-breadcrumb__inner">
                    <div class="inflanar-breadcrumb__content">
                        <h2 class="inflanar-breadcrumb__title m-0">My Campaigns</h2>
                        <ul class="inflanar-breadcrumb__menu list-none">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="/Campaign">Campaign</a></li>
                            <li class="active"><a href="/Campaign/MyCampaigns">MyCampaign</a></li>
                        </ul>
                    </div>
                    <div class="inflanar-breadcrumb__img">
                        <div class="inflanar-breadcrumb__thumb">
                            <img src="/Content/Images/in-bread-thumb.png">
                        </div>
                        <div class="inflanar-breadcrumb__group">
                            <img src="/Content/Images/in-social-group.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumbs -->
<!-- Features -->
<section class="inflaner-inner-page pd-top-90 pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mg-top-30">
                <div class="inflanar-service-sidebar">
                    <!-- Single Sidebar -->
                    <div class="inflanar-service-sidebar__single">
                        <h4 class="inflanar-service-sidebar__title m-0">Search</h4>
                        <!-- Inflanar Search -->
                        <div class="inflanar-search-form inflanar-search-form__service mg-top-10">
                            <form class="inflanar-search-form__form" action="#">
                                <input type="text" placeholder="Search">
                                <button type="submit" class="inflanar-btn inflanar-btn--search"><img src="/Content/Images/in-search-white.svg"></button>
                            </form>
                        </div>
                        <!-- End Inflanar Search -->
                    </div>
                    <!-- Single Sidebar -->
                    <div class="inflanar-service-sidebar__single mg-top-50">
                        <div class="inflanar-service-sidebar__checkboxd">
                            <h4 class="inflanar-service-sidebar__title m-0">Select Category</h4>
                            @foreach (var item in (List<InfluencerConnect.Models.CategoryCountViewModel>)ViewBag.CategoryCounts)
                            {
                                <div class="form-group inflanar-form-checkbox mg-top-15">
                                    <input type="checkbox" class="category-filter" value="@item.CategoryId">
                                    <label class="inflanar-form-label" for="cat1">@item.CategoryName <span>@item.Count</span></label>
                                </div>

                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="row">
                    @if (Model != null)
                    {
                        foreach (var campaign in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-12 mg-top-30">
                                <!-- Single property-->
                                <div class="inflanar-service">
                                    <!-- Property Head-->
                                    <div class="inflanar-service__head">
                                        <img src="@campaign.Images.First().FilePath" alt="#">
                                        <div class="inflanar-service__wishlist active">

                                        </div>
                                    </div>
                                    <!-- Property Body-->
                                    <div class="inflanar-service__body">
                                        <div class="inflanar-service__top">
                                            <a href="influencers.html" class="inflanar-service__cat"><img src="~/Content/Images/in-cat-label.svg">@campaign.Category</a>

                                        </div>
                                        <h3 class="inflanar-service__title"><a href="service-single.html">@campaign.Content</a></h3>
                                        <div class="inflanar-service__author">
                                            <div class="inflanar-service__author--info">
                                                <a href="influencer-profile.html"><img src="@campaign.AgentProfilePic">@campaign.AgentName</a>
                                            </div>
                                            <div class="inflanar-service__author--rating">
                                                <div class="inflanar-service__author--star">
                                                    <span><a style="color: #FE2C55;" href="/CampaignMessages/Edit/@campaign.CampaignMsgId"><i class="fas fa-edit"></i></a></span>


                                                </div>

                                            </div>
                                        </div>
                                        <a class="inflanar-btn-full inflanar-btn-full--v2 mg-top-20" href="/Campaign/Details/@campaign.CampaignId">Details</a>
                                    </div>
                                </div>
                                <!-- End Single property-->

                            </div>

                        }
                    }
                    else
                    {
                        <div class="text-center text-muted p-4">
                            <h5>You have No Campagins</h5>
                        </div>
                    }
                </div>
                <div class="row mg-top-50">
                    <div class="inflanar-pagination">
                        <ul class="inflanar-pagination__list list-none">
                            @if (ViewBag.CurrentPage > 1)
                            {
                                <li class="inflanar-pagination__button">
                                    <a href="@Url.Action("MyCampaigns", new { page = ViewBag.CurrentPage - 1 })"><i class="fas fa-angle-left"></i></a>
                                </li>
                            }

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPage ? "active" : "")">
                                    <a href="@Url.Action("MyCampaigns", new { page = i })">@i.ToString("00")</a>
                                </li>
                            }

                            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                            {
                                <li class="inflanar-pagination__button">
                                    <a href="@Url.Action("MyCampaigns", new { page = ViewBag.CurrentPage + 1 })"><i class="fas fa-angle-right"></i></a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features -->


