@model InfluencerConnect.Models.InfluencerViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumbs -->
<div class="inflanar-breadcrumb"></div>
<!-- End breadcrumbs -->
<section class="influencers-profile">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="influencer-profile__inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12 mg-top-30">
                            <div class="inflanar-influencer inflanar-influencer__sidebar">
                                <!-- Influencer Head-->
                                <div class="inflanar-influencer__head">
                                    <img src="@Model.ProfilePic" alt="#">
                                </div>
                                <!-- Influencer Body -->
                                <div class="inflanar-influencer__body">
                                    
                                </div>
                                <!-- End Influencer Body -->
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12 mg-top-30">
                            <div class="influencers-pinfo">
                                <div class="influencers-pinfo__content">
                                    <h2 class="influencers-pinfo__title">@Model.Name</h2>
                                    <p class="influencers-pinfo__label">Member Since: @Model.JoinedOn.ToString("dd-MMMM-yyyy")</p>

                                </div>
                                <div class="influencers-pinfo__social">
                                    <div class="influencers-pinfo__sinner">
                                        <div class="influencers-pinfo__sbutton">
                                            <a href="/Chats/StartChatfronNotification?targetUserId=@Model.UserId" class="inflanar-btn inflanar-btn__active">Chat Now</a>

                                        </div>
                                        <ul class="influencers-pinfo__ssocial list-none">
                                            <li><a href="@Model.TiktokLink"><img src="~/Content/Images/in-social2.svg"></a></li>
                                            <li><a href="@Model.YouTubeLink"><img src="/Content/Images/youtube.png"></a></li>
                                            <li><a href="@Model.InstagramLink"><img src="~/Content/Images/in-social4.svg"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:7rem;">
                                <div class="col-lg-3 col-md-6 col-12 mg-top-30">
                                    <div class="influencers-pinfo__card">
                                        <h4 class="influencers-pinfo__card--title">Active Job</h4>
                                        <p class="influencers-pinfo__card--info">@Model.ActiveCampagins</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12 mg-top-30">
                                    <div class="influencers-pinfo__card influencers-pinfo__card--color2">
                                        <h4 class="influencers-pinfo__card--title">Total Campaigns</h4>
                                        <p class="influencers-pinfo__card--info">@Model.AllCampagins</p>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-12  mg-top-30 influencers-pinfo__card--color4">
                                    <div class="influencers-pinfo__card">
                                        <h4 class="influencers-pinfo__card--title">Complete Jobs</h4>
                                        <p class="influencers-pinfo__card--info">@Model.CompletedCampaigns</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Influencers -->
<section class="influencers pd-top-20 pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-12 mg-top-30">
                <!-- Single Sidebar -->
                <div class="influencers-sidebar">
                    <!-- Single Inner Sidebar -->
                    <div class="influencers-sidebar__single">
                        <h4 class="influencers-sidebar__title">About Me</h4>
                        <p class="influencers-sidebar__text">@Model.AboutMe</p>
                    </div>
                    <!-- End Single Inner Sidebar -->
                    <!-- Single Inner Sidebar -->
                    <div class="influencers-sidebar__single mg-top-50">
                        <h4 class="influencers-sidebar__title">Catagory</h4>
                        <ul class="influencers-sidebar__contact list-none">
                            <li><i class="fas fa-tag"></i>@Model.Category</li>
                            


                        </ul>
                    </div>
                    <!-- End Single Inner Sidebar -->
                    <!-- Single Inner Sidebar -->
                    <div class="influencers-sidebar__single mg-top-50">
                        <h4 class="influencers-sidebar__title">Content Type</h4>
                        <ul class="influencers-sidebar__contact list-none">
                            @foreach (var contentType in Model.ContentType)
                            {
                            <li><i class="fas fa-stream"></i>@contentType.Name</li>
                            }

                        </ul>
                    </div>
                    <!-- End Single Inner Sidebar -->
                    <!-- Single Inner Sidebar -->
                    <div class="influencers-sidebar__single mg-top-50">
                        <h4 class="influencers-sidebar__title">Contact</h4>
                        <ul class="influencers-sidebar__contact list-none">
                            <li><a href="#"><i class="fas fa-phone-alt"></i>@Model.PhoneNo</a></li>
                            <li><a href="mailto:@Model.Email"><i class="fas fa-envelope"></i><span class="__cf_email__" data-cfemail="4920272f2630263c3b7b79797a092e24282025672a2624">[email&#160;protected]</span></a></li>

                        </ul>
                    </div>
                    <!-- End Single Inner Sidebar -->
                </div>
                <!-- End Single Inner Sidebar -->
            </div>
            @Html.Action("_InfluencerPastCampagins", new { influencerId = Model.UserId });
        </div>
    </div>
</section>
