@model IEnumerable<InfluencerConnect.Models.Influencer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs -->
<section class="inflanar-breadcrumb">
    <div class="container">
        <div class="row">
            <!-- Breadcrumb-Content -->
            <input type="hidden" id="influencer-mode" value="@ViewBag.mode" />
            <input type="hidden" id="campaign-msg-id" value="@ViewBag.campaignMsgId" />
            <div class="col-12">
                <div class="inflanar-breadcrumb__inner">
                    <div class="inflanar-breadcrumb__content">
                        <h2 class="inflanar-breadcrumb__title m-0">Search Influencers to Collab</h2>
                        <ul class="inflanar-breadcrumb__menu list-none">
                            <li><a href="~/home">Home</a></li>
                            <li class="active"><a href="/Influencers">Influencers</a></li>
                        </ul>
                    </div>
                    <div class="inflanar-breadcrumb__img">
                        <div class="inflanar-breadcrumb__thumb">
                            <img src="/Content/Images/in-bread-thumb.png">
                        </div>
                        <div class="inflanar-breadcrumb__group">
                            <img src="/Content/Images/in-social-group.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumbs -->
<!-- Features -->
<section class="inflaner-inner-page pd-top-90 pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mg-top-30">
                <div class="inflanar-service-sidebar">
                    <!-- Single Sidebar -->
                    <div class="inflanar-service-sidebar__single">
                        <h4 class="inflanar-service-sidebar__title m-0">Search</h4>
                        <!-- Inflanar Search -->
                        <div class="inflanar-search-form inflanar-search-form__service mg-top-10">
                            <form class="inflanar-search-form__form" action="#">
                                <input type="text" id="searchKeyword" placeholder="Search">
                                <button id="searchButton" class="inflanar-btn inflanar-btn--search"><img src="/Content/Images/in-search-white.svg"></button>
                            </form>
                        </div>
                        <!-- End Inflanar Search -->
                    </div>
                    <!-- Single Sidebar -->
                    <div class="inflanar-service-sidebar__single mg-top-50">
                        <div class="inflanar-service-sidebar__checkboxd">
                            <h4 class="inflanar-service-sidebar__title m-0">Select Category</h4>
                            @foreach (var item in (List<InfluencerConnect.Models.CategoryCountViewModel>)ViewBag.CategoryCounts)
                            {
                                <div class="form-group inflanar-form-checkbox mg-top-15">
                                    <input type="checkbox" id="cat1" class="influencer-cat-filter" value="@item.CategoryId">
                                    <label class="inflanar-form-label" for="cat1">@item.CategoryName <span>(@item.Count)</span></label>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- End Single Sidebar -->
                    <!-- Single Sidebar -->
                    <div class="inflanar-service-sidebar__single mg-top-20">
                        <h4 class="inflanar-service-sidebar__title">Price </h4>
                        <div class="price-filter pd-top-20">
                            <div class="price-filter-inner">
                                <div class="price_slider_amount">
                                    <div class="form-group inflanar-form-checkbox mg-top-15">
                                        <input style="width: 100%; border: 1px solid #C1C1C1; height: 50px; padding: 0 25px; border-radius: 4px; display: flex; align-items: center; resize: none;" type="text" placeholder="Min Price" id="minPrice" value="" />
                                    </div>
                                    <div class="form-group inflanar-form-checkbox mg-top-15">
                                        <input style="width: 100%; border: 1px solid #C1C1C1; height: 50px; padding: 0 25px; border-radius: 4px; display: flex; align-items: center; resize: none;" type="text" placeholder="Max Price" id="maxPrice" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Sidebar -->
                    <!-- Single Sidebar -->
                    <div class="inflanar-service-sidebar__single mg-top-50">
                        <div class="inflanar-service-sidebar__checkboxd">
                            <h4 class="inflanar-service-sidebar__title m-0">Select Content Type</h4>
                            @foreach (var item in (List<InfluencerConnect.Models.ContentTypeCountViewModel>)ViewBag.ContentTypeCounts)
                            {
                                <div class="form-group inflanar-form-checkbox mg-top-15">
                                    <input type="checkbox" id="cat1" class="influencer-content-type-filter" value="@item.ContentTypeId">
                                    <label class="inflanar-form-label" for="cat1">@item.ContentTypeName <span>(@item.Count)</span></label>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- End Single Sidebar -->

                </div>
            </div>
            <div class="col-lg-9 col-12" id="influencerResults">
                @Html.Action("_SearchInfluencer", "Influencers", new { page = 1 })

            </div>
        </div>
    </div>
</section>
<!-- End Features -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>



        function getSelectedValues(className) {
            return $('.' + className + ':checked').map(function () {
                return this.value;
            }).get();
    }

        function fetchInfluencers(page = 1) {
    let categories = [];
    let contentTypes = [];
    const mode = $('#influencer-mode').val();

    if ("@ViewBag.mode" == "Invite") {
        categories = [@Convert.ToInt32(ViewBag.categoryId)];
        contentTypes = [@Convert.ToInt32(ViewBag.contentTypeId)];

        $(`.influencer-cat-filter[value='${categories[0]}']`).prop('checked', true);
        $(`.influencer-content-type-filter[value='${contentTypes[0]}']`).prop('checked', true);
    } else {
        categories = getSelectedValues('influencer-cat-filter');
        contentTypes = getSelectedValues('influencer-content-type-filter');
    }

    const minPrice = $('#minPrice').val();
    const maxPrice = $('#maxPrice').val();
    const keyword = $('#searchKeyword').val();

    $.ajax({
        url: '/Influencers/SearchInfluencers',
        type: 'GET',
        traditional: true,
        data: {
            categories: categories,
            contentTypes: contentTypes,
            minPrice: minPrice,
            maxPrice: maxPrice,
            keyword: keyword,
            mode: mode,
            page: page
        },
        success: function (response) {
            $('#influencerResults').html(response);
        },
        error: function () {
            alert('Failed to fetch Influencers.');
        }
    });
    }

    $(document).on('click', '.influencer-page-link', function (e) {
        e.preventDefault();
        const page = $(this).data('page');

        if (page > 0) {
            fetchInfluencers(page);
        }
    });



        $('#searchButton').on('click', function () {

            fetchInfluencers(); // Triggers AJAX with page = 1
        });

        if ("@ViewBag.mode"== "Invite")
        {
            //alert('Invite');
            fetchInfluencers();
        }

    $(document).on('click', '.start-chat-btn', function (e) {
        e.preventDefault(); // Stop <a> from navigating

        var otherUserId = $(this).data('userid');

        $.ajax({
            url: '/Chats/StartChat',  // your backend API to start/get chat
            type: 'POST',             // or 'POST' if you prefer
            data: { targetUserId: otherUserId },
            success: function (response) {
                // Assuming backend returns success status or similar
                if (response.success) {
                    // Redirect to chat index page to load all chats
                    window.location.href = '/Chats/Index?chatId=' + response.chatId;;
                } else {
                    alert("Failed to start chat.");
                }
            },
            error: function () {
                alert("Error while starting chat.");
            }
        });

    });

    $(document).on('change', '.influencer-checkbox', function () {

        if ($('.influencer-checkbox:checked').length > 0) {
            $('#invite-influencers').show();
        } else {
            $('#invite-influencers').hide();
        }

    });

    $(document).on('click', '#invite-influencers', function () {
        const InfluencerIds = getSelectedValues('influencer-checkbox');
        const campaignMsgId = $('#campaign-msg-id').val();


        $.ajax({
            url: '/CampaignMessages/InviteInfluencers',
            type: 'POST',
            traditional: true, // important for arrays
            data: {
                campaignMsgId: campaignMsgId,
                InfluencerIds: InfluencerIds,


            },
            success: function (response) {
                window.location.href = "/Home"
            },
            error: function () {
                alert('Failed to invite Influencers.');
            }
        });

    });



</script>



}