
<section class="inflanar-signin pd-top-120 pd-btm-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inflanar-signin__body">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="inflanar-signin__logins">
                                <!-- Login header -->
                                <div class="inflanar-signin__header mg-btm-10">
                                    <div class="inflanar-signin__heading">
                                        <h4 class="inflanar-signin__title">Campaign Message</h4>
                                        <p class="inflanar-signin__tag">Create New Campaign Message</p>
                                    </div>

                                </div>
                                <!-- End Login header -->

                                <div class="tab-content" id="nav-tabContent">
                                    <!-- Single Tab Influencer -->
                                    <div class="tab-pane fade active show" id="in-tab11" role="tabpanel">
                                        <div class="inflanar-signin__inner">
                                            
                                                <div class="row">
                                                    <div class=" col-12">
                                                        <div class="form-group inflanar-form-input mg-top-20">
                                                            <label>Content</label>
                                                            <input class="ecom-wc__form-input" id="content" type="text" name="Content" placeholder="content (header)">
                                                        </div>
                                                    </div>
                                                    <div class=" col-12">
                                                        <div class="form-group inflanar-form-input mg-top-20">
                                                            <label>TagLine</label>
                                                            <input class="ecom-wc__form-input" type="text" id="shortDescripion" name="ShortDescripion" placeholder="Tag Line (short description)">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-12">
                                                        <div class="form-group inflanar-form-input mg-top-20">
                                                            <label>Start Date</label>
                                                            <input class="ecom-wc__form-input" id="startDate" type="date" name="StartDate">
                                                        </div>
                                                    </div>
                                                    <div class=" col-lg-6 col-md-6 col-12">
                                                        <div class="form-group inflanar-form-input mg-top-20">
                                                            <label>End Date</label>
                                                            <input class="ecom-wc__form-input" type="date" id="endDate" name="EndDate" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class=" col-12">
                                                        <div class="form-group inflanar-form-input mg-top-20">
                                                            <label>Long Description</label>
                                                            <textarea class="ecom-wc__form-input" name="LongDescription" id="longDescription" placeholder="Give some detail explaination about your campaign"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group inflanar-form-input mg-top-20">
                                                                    <label>Content Type</label>
                                                                    <select class="property-sidebar__group inflanar-border" id="contentTypeId">
                                                                        @foreach (var contentType in ViewBag.ContentType as SelectList)
                                                                        {
                                                                            <option value="@contentType.Value">@contentType.Text</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-12">
                                                                <div class="form-group inflanar-form-input mg-top-20">
                                                                    <label>Category</label>
                                                                    <select class="property-sidebar__group inflanar-border" id="categoryId">
                                                                        @foreach (var category in ViewBag.Category as SelectList)
                                                                        {
                                                                            <option value="@category.Value">@category.Text</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group inflanar-form-input mg-top-20">
                                                                    <label>Target Audience</label>
                                                                    <select class="property-sidebar__group inflanar-border" id="targetAudienceId">
                                                                        @foreach (var audience in ViewBag.TargetAudience as SelectList)
                                                                        {
                                                                            <option value="@audience.Value">@audience.Text</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-12">

                                                        <!-- Login Button Group -->
                                                        <div class="form-group mg-top-40">
                                                            <button id="next1" class="inflanar-btn"><span>Next</span></button>
                                                        </div>

                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <!-- End Single Tab -->

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 d-none d-lg-block">
                            <div class="inflanar-signin__welcome inflanar-bg-cover inflanar-section-shape18">
                                <img src="~/Content/Images/Social media-cuate.svg" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>