@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    var currentUserId = User.Identity.GetUserId();


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav-menu menu navigation list-none" style="display: flex; align-items: center; padding: 0; margin: 0;">
            <li style="position: relative;">
                <a href="#"
                   class="text-black text-xl px-5 notification-icon"
                   style="display: flex; align-items: center; position: relative;"
                   onclick="toggleNotifications()">
                    <i style="font-size: 1.3rem;" class="fas fa-bell"></i>
                    <span id="notification-badge"
                          style="position: absolute; top: -2px; right: 15px; width: 10px; height: 10px;
             background-color: red; border-radius: 50%; z-index: 10;
             border: 1.6px solid white;
             display: @(ViewBag.UnreadCount > 0 ? "inline-block" : "none");">
                    </span>
                </a>

                @{Html.RenderAction("_NotificationPartial", "Notifications");}
            </li>


            @Html.Action("UserInfoPartial", "Account")
        </ul>


        <!-- Notification Bell (right-hand side) -->
        @*<div class="flex items-center space-x-4">
                <img src="https://via.placeholder.com/40" alt="Profile Image" class="w-10 h-10 rounded-full cursor-pointer">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="text-black text-sm ">@User.Identity.GetUserName()</a>
            </div>*@

        @*<ul class="navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                </li>
                <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@

    }
}
else
{
    @*<ul class="navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
        </ul>*@

    <!-- Login/Signup links and Profile Image -->
    <!--<div class="flex items-center space-x-4">
        <a href="/Account/Login" class="text-white text-sm hover:text-green-500">Login</a>
        <span class="text-white">/</span>
        <a href="/Account/Register" class="text-white text-sm hover:underline">Signup</a>-->
    <!-- Profile Image (placeholder image) -->
    @*<img src="https://via.placeholder.com/40" alt="Profile Image" class="w-10 h-10 rounded-full cursor-pointer">*@
    @*</div>*@

    @*<div id="notification-modal" class="fixed inset-0 bg-black bg-opacity-50 hidden">
            <div class="absolute top-20 right-10 bg-white p-4 w-80 rounded-lg shadow-lg">
                <h2 class="text-xl font-bold mb-4">Notifications</h2>
                <ul>
                    <li class="mb-2">You have a new message from John.</li>
                    <li class="mb-2">Your post has received 5 likes.</li>
                    <li class="mb-2">Someone commented on your profile.</li>
                </ul>
            </div>
        </div>*@
    <div class="inflanar-header__button">
        <a href="/Account/Login" class="inflanar-btn inflanar-btn__nbg">Login</a>
        <a href="/Account/Register" class="inflanar-btn inflanar-btn--header"><span>Sign Up</span></a>
    </div>
}
